{% extends 'layout.html' %}

{% block body %}

<style>
    input {padding:5px 15px;
    		background-color: #f0f0f5; 
    		border:0 none;
			cursor:pointer;
			-webkit-border-radius: 5px;
			border-radius: 5px; }
</style>

<div class="panel panel-default" style="margin-top:2%;background-color:rgba(255,255,255,.8);color:#5e5e5e;padding:50px;">
	<div>
		<h3>Comment</h3>
	</div>
		<br>
	<div>
		{% from "includes/_formhelpers.html" import render_field %}
		<form action="" method=post enctype=multipart/form-data>
		    <div class="form-group">
		      {{render_field(form.content, class_="form-control",rows="4")}}
		    </div>
		    <div>
		    	<p><input type="submit" class="btn btn-primary" value="Change"></p>
		    </div>
		</form>
	</div>
</div>

{% endblock %}